<div class="jumbotron">
    <h1>{{ heading }}</h1>
    <p>This is our Bootstrap Boilerplate Theme.</p>
    <p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>
